@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #101625;
  color: #f7f8f9;
}

.numbers {
  font-family: 'Bungee', cursive;
  /* font-size: 10rem; */
  font-weight: 400;
}

.paragraph {
  font-family: 'Jost', sans-serif;
}
